header {
	width: 100%;
}

header img {
	float: left;
	width: 170px;
	height: 170px;
	/*margin: 2% 2% 0% 2%;*/
}

ul {
	list-style-type: none;
	padding-top: 40px;
	padding-left: 5px;
	display: inline-flex;
}

li {
	padding: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html {
	font-family: "American Typewriter";
}

footer {
	text-align: center;
	background: black;
    color: lightpink;
	padding-top: 50px;
    padding-bottom: 50px;
}

footer > a {
	color: lightpink;
}